<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="xamarinios10" />
  <package id="SVProgressHUD" version="2.2.5" targetFramework="xamarinios10" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Essentials" version="0.11.0-preview" targetFramework="xamarinios10" />
  <package id="Xamarin.SideMenu" version="1.0" targetFramework="xamarinios10" />
  <package id="ZXing.Net.Mobile" version="2.4.1" targetFramework="xamarinios10" />
</packages>