<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="xamarinios10" />
  <package id="SQLiteNetExtensions" version="2.1.0" targetFramework="xamarinios10" />
  <package id="sqlite-net-pcl" version="1.4.118" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.5" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.core" version="1.1.5" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.provider.sqlite3.ios_unified" version="1.1.5" targetFramework="xamarinios10" />
  <package id="SVProgressHUD" version="2.2.5" targetFramework="xamarinios10" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Essentials" version="1.1.0" targetFramework="xamarinios10" />
  <package id="Xamarin.SideMenu" version="1.0" targetFramework="xamarinios10" />
  <package id="ZXing.Net.Mobile" version="2.4.1" targetFramework="xamarinios10" />
</packages>